{% extends 'base_layout.html' %}

{% block title %}
    Sections | My Account
{% endblock %}

{% block content %}
    <div class="wrapper">
        <h2>{{ request.user.username }}</h2>
        <form action="{% url 'accounts:update_path' %}" method="post">
            {% csrf_token %}
            <table class="form-table">
                <tr>
                    <th>Username:</th>
                    <td class="info">
                        {{ request.user.username }}
                    </td>
                </tr>
                <tr>
                    <th>Role:</th>
                    <td class="info">
                        {{ request.user.role }}
                    </td>
                </tr>
                <tr>
                    <th>Date joined:</th>
                    <td class="info">
                        {{ request.user.date_joined }}
                    </td>
                </tr>
                {% for field in form.visible_fields %}
                    <tr>
                        <th>
                            {{ field.label_tag }}
                        </th>
                        <td>
                            {{ field }}
                        </td>
                        <td>
                            <input type="submit" value="Update" class="upt-lnk">
                        </td>
                    </tr>
                    <tr>
                        {% if field.errors %}<br>
                            {{ field.errors }}
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </form>
    </div>
{% endblock %}