.width-lim {
    background: linear-gradient(to right, #57bc90, #015249);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

header {
    width: 960px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120px;
    font-family: ui-rounded;
    letter-spacing: 5px;
    color: #fff;
    border-top: 10px solid #fff;
    letter-spacing: 3px;
    height: 100%;
}

nav li {
    display: inline-block;
    border: 1px solid #fff;
    width: 100px;
    text-align: center;
    padding: 8px 0;
    border-radius: 5px;
    height: 27px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 30px 5px;
}

a:link,
a:visited {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    font-size: 25px;
}

nav li:hover {
    background: #fff;
    color: #015249;
}

.username li {
    border: 0px solid #000;
}
.username li:hover {
    background: none;
}


