{% extends 'base_layout.html' %}
{% load custom_tags %}

{% block content %}
    <h2>Active Requests</h2>
    {% for section in sections %}
        <h3>{{ section.name }}</h3>
        {% for join_req in section.join_requests.all|select_active %}
        <ol>
            <li>
                {{ join_req }}<br>
                <a href="{% url 'brackets:accept_req_path' id=join_req.id %}">Accept</a> |
                 <a href="{% url 'brackets:decline_req_path' id=join_req.id %}">Decline</a>
            </li>
        </ol>
        {% endfor %}
    {% endfor %}
{% endblock %}