{% extends 'base_layout.html' %}

{% block content %}
    <h2>{{ org.name }} Home</h2>
    <h3>User Join Requests</h3>
    <ul>
        {% for joinreq in joinreqs %}
            <li>
                {{ joinreq.account.username }}  |   {{ joinreq.account.role }}<br>
                <a href="{% url 'organisations:accept_user_joinreq_path' id_o=org.id id_j=joinreq.id %}">Accept</a>    |   
                <a href="{% url 'organisations:decline_user_joinreq_path' id_o=org.id id_j=joinreq.id %}">Decline</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'brackets:create_path' id_o=org.id %}">Create a Bracket</a>
    <h3>Existing Sections</h3>
    <ul>
        {% for bracket in org.brackets.all %}
            <li>{{ bracket.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}