{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        {% block style %}
        {% endblock %}
    </head>
    <body>
        <header class="primary-header">
            <a href="{% url 'homepage_path' %}">
                <div class="logo">
                    Sections
                </div>
            </a>
            <nav class="auth-nav">
                <ul>
                    {% if user.is_authenticated %}
                        <a href="{% url 'accounts:update_path' %}" class="username"><li>{{ request.user.username }}</li></a>
                        <a href="{% url 'accounts:logout_path' %}" class="logout"><li>Logout</li></a>
                    {% else %}
                        <a href="{% url 'accounts:login_path' %}" class="login"><li>Login</li></a>
                        <a href="{% url 'accounts:signup_path' %}" class="signup"><li>Signup</li></a>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}
        {% endblock %}
    </body>
</html>