{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Sections</title>
        <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    </head>
    <body>
        <main>
            <span class="greeting">Welcome to</span>
            <h1>Sections</h1>
            <h2>A New Way to Coordinate With Your Classmates</h3>
            <nav>
                <ul>
                    <div>
                        <li>
                            <a href="{% url 'accounts:login_path' %}" class="login">Login</a><br>
                            For existing users
                        </li>
                    </div>
                    <div>
                        <li>
                            <a href="{% url 'accounts:signup_path' %}" class="signup">Signup</a><br>
                            Hurry up! Join use today
                        </li>
                    </div>
                </ul>
                <ul>
                    <a href="{% url 'organisations:register_path' %}" class="reg-org">
                        <li>
                            <span class="regorg-head">Register Your Organisation!</span><br>Streamline Your Communication to Enhance Productivity
                        </li>
                    </a>
                </ul>
            </nav>
        </main>
    </body>
</html>